build/
install/
log/

__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build_isolated/
install_isolated/

.cmake/
CMakeCache.txt
CMakeFiles/
CMakeSettings.json
Makefile
cmake_install.cmake
install_manifest.txt
*.manifest
*.spec

*.dox
*.wikidoc
.geo
*.dae.log

.vscode/
.idea/
.qtcreator/
*.user
.project
.cproject
.env
.venv
env/
venv/